<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-orange.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <exam-editor trackChanges></exam-editor>
  <br>
  <hr>
  Visor<br>
  <progress-visor [snapshots]=progressArray></progress-visor>
  <br><hr>
</div>

<router-outlet></router-outlet>
