.container {
    position: relative;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #4a4a4a;
    color: white;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
  }

  .mat-list-item {
    color: #eee
  }
  
  .content {
    padding: 1rem 1.5rem;
    /* display: flex; */
    height: 100%;
    /* justify-content: center; */
  }
  
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .footer span {
    font-size: 0.8rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .user {
    font-size: 1rem;
    font-weight: 300;
    color:#ffd740;
    font-weight: bold;
  }
  
  .logo a {
    text-decoration: none;
    color: #eee;
  }
  
  .nav-menu .mat-icon {
    padding-right: 8px;
  }
  
  .nav-menu span {
    display: block;
    text-transform: uppercase;
    padding: 20px 10px 5px 5px;
    text-transform: uppercase;
    font-size: 11px;
  }