<mat-card class="card center">
  <h1 class="centerContent">New User</h1>

  <form [formGroup]='form' (ngSubmit)="submitForm()">
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full Name" type="text" name="name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Role" formControlName="role">
        <mat-option value="admin">
          Admin
        </mat-option>
        <mat-option value="staffing">
          Staffing
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email" name="email" formControlName="email" required>
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
    </mat-form-field>

    <mat-slide-toggle formControlName="actived">Active</mat-slide-toggle>
    <br>
    <div class="centerContent">
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Save</button>
    </div>
  </form>
</mat-card>