<mat-card class="login-box">
  <mat-card-title>LOGIN</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="login()">

    <div>
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="errorDiv">
      {{errorMsg}}
    </div>
    <button mat-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
  </form>
</mat-card>
